/*Estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html {
    scroll-behavior: smooth;
}

main[id],
div[id] {
    scroll-margin-top: 85px;
}

:root {
    --color-uno: #CEE8F2;
    --color-dos: #496773;
    --color-tres: #113E59;
    --color-blanco: #F2F2F2;
    --color-negro: #000;
    --color-oscuro: #0B3140;
}

/* ------------------------------------------------------------------------------------------- */

/*ESTILOS DE: contenedor-encabezado*/

.contenedor-encabezado {
    text-align: center;
    display: flex;
    padding: 50px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.encabezado-texto {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.titulo-encabezado {
    font-size: 36px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-uno);
    padding: 10px;
    -webkit-box-shadow: 0px 0px 206px 16px var(--color-dos);
    -moz-box-shadow: 0px 0px 206px 16px var(--color-dos);
    box-shadow: 0px 0px 206px 16px var(--color-dos);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;

}

.encabezado-texto p {
    color: var(--color-blanco);
    letter-spacing: 2px;
    line-height: 25px;
    animation: fadeIn 3s ease-in-out;

}

.carrusel-principal {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    animation: fadeIn 3.5s ease-in-out;

}

.contenedor-carrusel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}


.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    width: 150px;
    height: 300px;
    border-radius: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    animation: fadeIn 3s ease-in-out;
}

.btn-encabezado {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--color-dos);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    animation: fadeIn 3s ease-in-out;
}

#izquierda {
    margin-left: 10px;
}

#izquierda:hover {
    background-color: var(--color-tres);
}

#derecha {
    margin-right: 10px;
}

#derecha:hover {
    background-color: var(--color-tres);
}

@keyframes brillo {
    0% {
        background-color: var(--color-dos);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    50% {
        background-color: var(--color-uno);
        box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
    }

    100% {
        background-color: var(--color-uno);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
}

.boton-accion {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 3s ease-in-out;

}

.btn-accion {
    margin-top: 20px;
    background-color: var(--color-tres);
    color: var(--color-negro);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: brillo 2s linear infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.btn-accion:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 9);
    animation: none;
}

/*ESTILOS DE: contenedor-servicio*/
.servicio .carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.servicio .carrusel img {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    margin: 0 5px;
}

.servicio .carrusel::-webkit-scrollbar {
    display: none;
}

.servicio {
    overflow: hidden;
}

.btn-servicio {
    background-color: var(--color-dos);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-servicio:hover {
    background-color: var(--color-oscuro);
}

.contenedor-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.informacion {
    text-align: center;
}

.problematica {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.problematica h2 {
    color: var(--color-dos);
    margin-bottom: 20px;
    font-size: 28px;
}

.problematica p {
    text-align: center;
}

.solucion {
    text-align: center;
}

.solucion h3 {
    font-size: 38px;
    color: var(--color-tres);
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicio {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.servicio img {
    width: 250px;
    height: 170px;
    border-radius: 8px;
    margin-bottom: 15px;

}

.servicio p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}

.btn-servicio {
    background-color: var(--color-tres);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-servicio:hover {
    background-color: var(--color-dos);
}

/*ESTILOS DE: contenedor-beneficio*/
.contenedor-beneficios {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.informacion-beneficios h4 {
    color: var(--color-dos);
    font-size: 25px;
    margin-bottom: 20px;
}

.contenedor-cartas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carta {
    width: 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 15px;
    display: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 3px var(--color-dos);
}

.carta img {
    width: 250px;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.carta h6 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--color-dos);
}

.carta p {
    font-size: 15px;
    color: #666;
    order: 0;
}

/*ESILOS DE: contenedor-testimonios*/
.contenedor-testimonios {
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: var(--color-blanco);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.contenedor-testimonios h5 {
    font-size: 30px;
    color: var(--color-tres);
    letter-spacing: 3px;
}

.testimonios {
    display: flex;
    transition: transform 0.3s ease;
}

.testimonio {
    width: 80%;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--color-tres);
    border-radius: 5px;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.contenido {
    flex: 1;
}

.contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-blanco);
}

.nombre {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #3498db;
}

.botones-testimonios {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

/*ESTILOS DE: conenedor-preguntas*/

.contendor-preguntas {
    width: 100%;
    height: 100%;
    background-color: var(--color-blanco);
    padding: 15px;
}

.preguntas {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.preguntas h6 {
    color: var(--color-uno);
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.informacion-pregunta {
    margin-top: 30px;
    text-align: center;
}

.pregunta {
    color: var(--color-dos);
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.respuesta {
    color: var(--color-blanco);
    font-size: 16px;
    line-height: 1.6;
    padding: 0 10%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/*MEDIA QUERYS*/
@media (max-width:400px) {
    .contenedor-encabezado {
        padding: 10px;
    }

    .contenedor-encabezado h1 {
        font-size: 25px;
    }

    .contenedor-encabezado p {
        font-size: 15px;
    }
}

@media (max-width:300px) {
    .contenedor-beneficios .contenedor-cartas .carta img {
        width: 180px;
        height: 130px;
    }
}